.post-item-container {
  display: grid;
  position: relative;
  grid-template-columns: 0.5fr 7fr;
  grid-template-rows: 1fr;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.post-item-container:hover {
  border: 1px solid #333;
}

.vote-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding-top: 0.8rem;
  font-weight: 500;
  background-color: #f6f7f8;
}

.vote-logo {
  width: 2.4rem;
  height: 2.4rem;
  font-weight: 300;
}

.vote-logo:hover {
  color: #ff0000;
  background-color: #c5c6c6;
}

.post-item-body {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  grid-column: 2 / -1;
  align-items: center;
  padding-top: 0.8rem;
}

.link {
  text-decoration: none;
}

.post-link-sub {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #1c1c1c;
  font-weight: 500;
}
.posted-by {
  font-size: 1.2rem;
  color: #787c78;
}

.post-item-user:hover,
.post-link-sub-text:hover {
  text-decoration: underline;
}

.logo {
  width: 2rem;
  height: 2rem;
}

.join-button {
  display: flex;
  width: 5.5rem;
  height: 2.4rem;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 9999px;
  background-color: #0079d3;
  color: #fff;
  margin-left: auto;
}

.join-button:hover {
  filter: brightness(110%);
}

.post-item-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #222;
  padding-left: 0.2rem;
}

.post-img-container {
  height: 51rem;
  margin: 0px auto;
}

.post-item-image {
  height: 100%;
  width: 100%;
}

.post-item-footer {
  display: flex;
  gap: 1rem;
  grid-column: 2;
}

.footer-link {
  display: flex;
  font-size: 1.8rem;
  align-items: center;
  gap: 0.5rem;
  color: #878a8c;
  padding: 0.8rem;
  margin: 0.4rem 0;
}

.footer-link:hover {
  background-color: #e8e8e8;
}

.footer-link-text {
  font-size: 1.1rem;
  font-weight: 700;
}
