.popular-posts {
  grid-column: 1;
  font-size: 1.4rem;
  color: #1a1a1b;
  font-weight: 500;
  letter-spacing: 0.2px;
  padding-top: 2rem;
}

.location-select {
  border: none;
}

.accordion {
  border: 1px solid #ccc;
  border-radius: 0.3rem;
}

/* 960px */

@media (max-width: 60em) {
  .right-side-container {
    display: none;
  }

  .grid--2-cols {
    grid: none;
  }
}
