.dropdown-results-container {
  width: 100%;
  position: absolute;
  top: 3.9rem;
  background-color: #fff;
  z-index: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.icon--create-post {
  border: none;
  height: 4rem;
  width: 4rem;
}

.sub-link-container {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
}

.dropdown-result-item {
  text-decoration: none;
  font-weight: 500;
  color: #333;
  width: 100%;
}

.post-sub-name {
  font-size: 1.4rem;
}
