.nav-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin-top: 2rem;
}

.nav-link {
  width: 45%;
  font-size: 1.2rem;
  text-decoration: none;
  margin: 0.5rem 0 0.5rem 0.5rem;
}
