.nav-container {
  max-height: 22rem;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  position: -webkit-sticky;
  position: sticky;
  top: 5.5rem;
}

.link-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 1rem;
  padding-top: 1rem;
}

.nav-link {
  width: 45%;
  font-size: 1.2rem;
  text-decoration: none;
  padding-bottom: 0.5rem;
  color: #333;
}

.copyright-container {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 1.2rem 0;
}

.copyright-logo {
  font-size: 1rem;
}
