.trending-container {
  width: 24rem;
  height: 19rem;
  border: 1px solid black;
  overflow: hidden;
  border-radius: 0.8rem;
  position: relative;
  background-size: cover;
  background-color: #474747;
}

.trending-body {
  position: absolute;
  bottom: 0;
  padding: 1.2rem;
}

.trending-link {
  text-decoration: none;
  color: #fff;
}

.subName {
  display: flex;
  gap: 1rem;
}

.trending-title-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.trending-text {
  font-size: 1.6rem;
  font-weight: 400;
}

.bottom-logo-container {
  display: flex;
  padding-top: 1rem;
}

.logo {
  width: 1.6rem;
  height: 1.6rem;
  border: 1px solid #fff;
  border-radius: 9999px;
}

.trending-logo-link {
  display: flex;
  align-items: center;
}

/* 1000px */

@media (max-width: 62.5em) {
  .trending-title-text {
    font-size: 1.6rem;
  }

  .trending-text {
    font-size: 1.4rem;
  }
}

/* 750px */

@media (max-width: 47em) {
  .trending-container {
    width: 50%;
  }
}

/* 500px */

@media (max-width: 32.5em) {
  .trending-container {
    width: 100%;
  }
}
