.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  max-height: 4.8rem;
  background-color: #ffffff;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.homepage-icon-img {
  width: 11.5rem;
}

.navbar-search-container {
  display: flex;
  align-items: center;
  height: 3.4rem;
  width: 69rem;
  border: 1px solid #edeff1;
  padding: 1.8rem 1.8rem;
  background-color: #f6f7f8;
  border-radius: 4px;
}

.searchbar-icon {
  display: inline;
  padding-right: 1rem;
  font-size: 2rem;
}

.search-bar {
  border: none;
  height: 3.4rem;
  width: 100%;
  background-color: #f6f7f8;
}

.login-signup-container {
  display: flex;
  gap: 1.2rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-family: "Noto Sans", "sans-serif";
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.55rem 3rem;
  border-radius: 9999px;
  border: 1px solid #0079d3;
  cursor: pointer;
}

.btn--outline {
  color: #0079d3;
}

.btn--outline:hover {
  background-color: #e6f2fb;
}

.btn--full {
  color: #fff;
  background-color: #0079d3;
}

.btn--full:hover {
  filter: brightness(110%);
}

.dropdown-menu-icon {
  display: flex;
  align-items: center;
  font-size: 2.2rem;
  cursor: pointer;
}
