.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  max-height: 4.8rem;
  background-color: #ffffff;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.homepage-icon-img {
  width: 11.5rem;
}

.navbar-search-container {
  display: flex;
  align-items: center;
  position: relative;
  height: 3.4rem;
  width: 69rem;
  border: 1px solid #edeff1;
  padding: 1.8rem 1.8rem;
  background-color: #f6f7f8;
  border-radius: 4px;
}

.searchbar-icon {
  display: inline;
  padding-right: 1rem;
  font-size: 2rem;
}
.search-bar {
  border: none;
  height: 3.4rem;
  width: 100%;
  background-color: #f6f7f8;
}

.search-result-container {
  position: absolute;
  width: 100%;
  top: 3.9rem;
  left: 0;
  border: 1px solid #edeff1;
  border-radius: 4px;
}

.login-signup-container {
  display: flex;
  gap: 1.2rem;
}

.dropdown-menu-icon,
.create-post-icon {
  display: flex;
  align-items: center;
  font-size: 2.2rem;
  cursor: pointer;
}

.create-post-icon {
  margin-left: 3rem;
}

.userName {
  font-size: 1.2rem;
  padding: 0 0.5rem;
}
