.comment-page-container {
  background-color: #333;
  z-index: -1;
}

.comment-page-body {
  grid-column: 1;
}

.post-item-comment {
  border-bottom: none;
}

.empty-comments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  min-height: 25rem;
}

.no-comment-icon {
  font-size: 2.4rem;
  fill: #60000066;
  margin: 1.6rem 0;
}

.no-comment-text {
  font-size: 1.8rem;
  font-weight: 500;
  opacity: 35%;
  margin-bottom: 0.8rem;
}

.sub-text {
  font-size: 1.4rem;
  margin: none;
}

.footer-nav-comment-page {
  grid-column: 2;
}
