.comment-page-container {
  background-color: #333;
  z-index: -1;
}

.comment-page-post {
  grid-column: 1;
}

.post-item-comment {
  border-bottom: none;
}

.footer-nav-comment-page {
  grid-column: 2;
}
