.search-results {
  margin-top: 2rem;
}

.no-search-results {
  display: flex;
  text-align: center;
  font-size: 1.4rem;
  background-color: #fff;
  padding: 3rem;
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  grid-column: 2;
  grid-row: 1 / span 2;
}
