.rule-container {
  max-width: 31rem;
  background-color: #fff;
  color: #fff;
  cursor: pointer;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
}

.rule-item {
  border-bottom: 1px solid #edeff1;
}

.rule-container:last-child {
  border: none;
}

.rules-header {
  background-color: #444e59;
  color: #fff;
  padding: 1rem;
}

.rule-header {
  display: flex;
  align-items: center;
}

.rule-title {
  display: flex;
  font-size: 1.4rem;
  color: #333;
  font-weight: 700;
  padding: 1.25rem 1rem;
}

.subpoint-table {
  padding: 0 0.8rem 0 1.6rem;
}

.subpoint {
  margin: 0.6rem 2.4rem;
  color: #333;
  font-size: 1.4rem;
}
