.trending-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 1rem;
}

.trending-header {
  width: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  color: #1a1a1b;
  letter-spacing: 0.2px;
  padding-top: 1rem;
}

.trending-item-container {
  display: flex;
  width: 100%;
  gap: 1rem;
}
