.comments-container {
  margin-top: 1rem;
}

.comment-page-body {
  grid-column: 1;
}

.comment-body-lower {
  border: 1px solid #ccc;
  margin-top: 1rem;
}

.login-signup-container-comments {
  display: flex;
  background-color: #fff;
  padding: 1rem 4.2rem;
}

.content-container {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #edeff1;
  padding: 1rem;
}

.login-signup-text {
  font-size: 1.4rem;
  color: #7c7c7c;
  font-weight: 500;
  flex-shrink: 0;
}

.login-signup-container-comments .btn-container {
  margin-left: 1rem;
}

.btn-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 1rem;
}

.btn-container .btn {
  font-size: 1rem;
}

.post-item-comment {
  border-bottom: none;
}

.empty-comments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  min-height: 25rem;
}

.no-comment-icon {
  font-size: 2.4rem;
  fill: #60000066;
  margin: 1.6rem 0;
}

.no-comment-text {
  font-size: 1.8rem;
  font-weight: 500;
  opacity: 35%;
  margin-bottom: 0.8rem;
}

.sub-text {
  font-size: 1.4rem;
  margin: none;
}

.footer-nav-comment-page {
  grid-column: 2;
}

.comments-right-side-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-column: 2;
  grid-row: 1 / span 2;
}

/* 1100px */

@media (max-width: 68.75em) {
  .btn {
    padding: 0.55rem 1.5rem;
  }

  .comments-right-side-container {
    display: none;
  }

  .comments-container {
    grid: none;
    padding: 0 5.4rem;
  }
}

/* 600px */

@media (max-width: 37.5em) {
  .btn {
    padding: 0.55rem 1rem;
  }
  .comment-page-content {
    padding: 0 2.6rem;
  }

  .login-signup-text {
    font-size: 1.1rem;
  }
}
